<?xml version="1.0"?>
<!--
/**
 * @author    Sutunam
 * @copyright Copyright (c) 2024 Sutunam (http://www.sutunam.com/)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Model\Product\LinkTypeProvider">
        <arguments>
            <argument name="linkTypes" xsi:type="array">
                <item name="linked" xsi:type="const">
                    Sutunam\LinkedProduct\Model\Product\Link::LINK_TYPE_LINKED
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Catalog\Model\ProductLink\CollectionProvider">
        <arguments>
            <argument name="providers" xsi:type="array">
                <item name="linked" xsi:type="object">
                    Sutunam\LinkedProduct\Model\ProductLink\CollectionProvider\Linked
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Catalog\Model\ResourceModel\Product\Collection">
        <plugin name="sutunam_linked_product_plugin_model_resource_model_product_collection"
                type="Sutunam\LinkedProduct\Plugin\Magento\Catalog\Model\ResourceModel\Product\CollectionPlugin"/>
    </type>
</config>
